body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #f4f4f4;
}

header {
    background: rgb(6, 101, 104);
    background: linear-gradient(159deg, rgb(102, 175, 188) 0%, rgb(13, 82, 95) 100%);
    color: white;
    padding: 50px;
}

.btn {
    background: #3c92ed;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

nav {
    background: #444;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.resume {
    margin: 20px auto;
    width: 60%;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.profile h2  {
    opacity: 0;
    transform: translateY(-100px);
    animation: slideDown 5s ease-in-out forwards;
}

.profile img {
    opacity: 0;
    transform: translateY(-100px);
    animation: slideDown 5s ease-in-out forwards;
    width: 150px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hidden {
    display: none;
}

h3 {
    cursor: pointer;
    background: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

ul,
ol {
    text-align: left;
}