body {
    font-family: Arial, sans-serif;
    row-gap: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
   
    background-color: #0073cf;
    background-image: linear-gradient(315deg, #0073cf 0%, #f2f0ef 74%);
}

header {
    margin: 70px 5px 0px 5px;
    border-radius: 15px;
    background: rgb(0,127,255);
    background: linear-gradient(159deg, rgba(0,127,255,1) 0%, rgba(42,82,190,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
header img {
    width: 10%;
    border-radius: 50%;
}
nav a{
        padding: 12px 20px;
        border-radius: 5px;
        margin: 0 10px;
        color: white;
        font-size: 16px;
  
}
nav a:hover {
    background-color: #523aea;
    transition: background-color 0.3s ease;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}
footer {
    
    height: 50px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    color: #810138;
    background: rgb(0,127,255);
    background: linear-gradient(159deg, rgba(0,127,255,1) 0%, rgba(42,82,190,1) 100%);
}
