.task_add_container{
    background-color: whitesmoke;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.InputBox{
    margin-right: 20px;
    width: 500px;
    border: 1px solid red;
    padding: 5px;
}

#demo-simple-select{
    width: 90px;
    padding: 10px;
}

.submitButton{
    padding: 10px!important;
    margin-left: 20px!important;
}